.business-mode-2-wrapper {
  position: relative;
  width: 1920px;
  height: 1080px;
  margin: 0 auto;
  overflow: hidden;
  background-color: #f5f5f5;
}

.banner-container {
  position: absolute;
  width: 849px;
  height: 242px;
  top: 108px;
  left: 411px;
}

.profile-pic-container {
  position: absolute;
  width: 368px;
  height: 368px;
  top: 108px;
  left: 43px;
}

.media-player-square {
  position: absolute;
  width: 900px;
  height: 500px;
  top: 324px;
  left: 294px;
}

.final-track-list-square {
  position: absolute;
  width: 610px;
  height: 415px;
  top: 467px;
  left: 861px;
}

.transport-control-square {
  position: absolute;
  width: 450px;
  height: 76px;
  top: 835px;
  left: 465px;
}